{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date">
                <time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time>
            </div>
            <h2 id="blog-title">{{ blog.title }}</h2>
        </header>

        {% for image in blog.getImage.getValues %}
            <img class="large" src="{{ asset(['images/', image.name]|join) }}" alt="image not found" />
        {% endfor %}
    </article>

    <section class="comments" id="comments">
        <div>
            <p id="blog-content">{{ blog.blog }}</p>
        </div>
        <div>
            <p id="blog-tag">Tags: {{ blog.tags }}</p>
        </div>
        {% if is_granted("IS_AUTHENTICATED_FULLY") or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if app.security.getToken().getUser().getUsername() == blog.author %}
                <div align="center">
                    <input id="but-edit" type="button" value="Edit page">
                    <input id="but-image" type="button" value="Select title image">
                    <input id="but-image-delete" type="button" value="Delete image">
                    <a href="{{ path('BloggerBlogBundle_blog_delete', {'id': blog.id}) }}">
                        <input id="but-delete" type="button" value="Delete blog">
                    </a>
                </div>
                {% include 'BloggerBlogBundle:Blog:edit.html.twig' with { 'form': form } %}
            {% endif %}
        {% endif %}

        <section class="previous-comments">
            <h3>Comments</h3>
            {% include 'BloggerBlogBundle:Comment:index.html.twig' with { 'comments': comments, 'id': blog.id } %}
        </section>
        {% if is_granted("IS_AUTHENTICATED_FULLY") or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <h3>Add Comment</h3>
            {{ render (controller ('BloggerBlogBundle:Comment:newFormComment', { 'blog_id': blog.id })) }}
        {% endif %}
    </section>
{% endblock %}