{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ blogs.title }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date">
                <time datetime="{{ blogs.created|date('c') }}">{{ blogs.created|date('l, F j, Y') }}</time>
            </div>
            <h2>{{ blogs.title }}</h2>
        </header>

        {% for blog in blogs.getImage.getValues %}
            <img src="{{ asset(['images/', blog.name]|join) }}" alt="image not found" class="large"/>
        {% endfor %}

        <div>
            <p>{{ blogs.blog }}</p>
        </div>
    </article>

    <section class="comments" id="comments">
        <section class="previous-comments">
            <h3>Comments</h3>
            {% include 'BloggerBlogBundle:Comment:index.html.twig' with { 'comments': comments } %}
        </section>
        {% if is_granted("IS_AUTHENTICATED_FULLY") or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <h3>Add Comment</h3>
            {{ render (controller ('BloggerBlogBundle:Comment:newFormComment', { 'blog_id': blogs.id })) }}
        {% endif %}
    </section>
{% endblock %}