{% set shift = 30 %}
{% for comment in comments %}
    {% if comment.parentId %}
        <article class="comment parent" id="comment-{{ comment.id }}" style="margin-left: {{ shift }}px">
        {% set shift = shift + 30 %}
    {% else %}
        <article class="comment" id="comment-{{ comment.id }}">
        {% set shift = 30 %}
    {% endif %}
        <header>
            <p id="comment-header"><span class="highlight">{{ comment.user }}</span> оставил комментарий
                <time datetime="{{ comment.created|date('c') }}">{{ comment.created|created_ago }}</time>
            </p>
        </header>

        <p id="comment">{{ comment.comment }}</p>

        {% if is_granted("IS_AUTHENTICATED_FULLY") or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if comment.comment != 'This comment is deleted!' and comment.user == app.security.getToken().getUser().getUsername() %}
                <div id="group-button">
                    <input class="button-add" id="but-comment" type="button" value="Comment">
                    <input class="button-edit" id="but-edit" type="button" value="Edit">
                    <input class="button-delete" id="but-delete" type="button" value="Delete">
                </div>
             {% else %}
                <div id="group-button">
                    <input class="button-add" id="but-comment" type="button" value="Comment">
                </div>
             {% endif %}
        {% endif %}
    </article>
{% else %}
    {% if is_granted("IS_AUTHENTICATED_FULLY") or is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <p class="not-comment">К этому блогу пока нет комментариев. Будьте первым и добавьте свой комментарий...</p>
    {% else %}
        <p class="not-comment">К этому блогу пока нет комментариев</p>
    {% endif %}
{% endfor %}

{% if not is_granted("IS_AUTHENTICATED_FULLY") or not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <p>Вы не можете добавить комментарий. Пожалуйста <a href="{{ path('fos_user_security_login') }}">войдите</a>
        или <a href="{{ path('fos_user_registration_register') }}">зарегистрируйтесь</a>!</p>
{% endif %}